@use "@/scss/variables" as var;

.navbar {
    grid-area: navbar;

    padding: var.$spacing-sm !important;

    &__menu-icon,
    &__menu-drawer {
        color: var.$color-primary-200;
        display: none !important;
    }

    @media (max-width: 768px) {

        &__menu-icon,
        &__menu-drawer {
            display: block !important;
        }

        &__menu-list {
            display: none !important;
        }
    }
}