@use "@/scss/variables" as var;

.vision {
    &__title {
        text-align: center;
        color: var.$color-neutro-100;
        font-weight: var.$font-weight-bold;
        padding: 0 0 var.$spacing-3xl 0;
    }

    &__description {
        color: var.$color-neutro-100;
        font-size: var.$font-size-xs;
        font-weight: var.$font-weight-regular;
        text-align: justify;
        padding: 0 var.$spacing-xs;
        padding: var.$spacing-10xl 0 0 0;
    }

    &__image-wrapper {
        width: 25%;
        float: right;
        box-shadow: 0 0 2px rgba(245, 245, 245, 0.3);
        border-radius: 8px;
        overflow: hidden;
        margin: 0 0 var.$spacing-xs var.$spacing-3xl;
        transform: rotate(4deg);
    }

    &__image {
        display: block;

        height: fit-content;
        width: 100%;
        filter: brightness(70%);
    }
}