@use "@/scss/variables" as var;

.text {
    font-weight: var.$font-weight-regular;

    &--h1 {
        color: var.$color-neutro-300 !important;
        font-size: clamp(var.$font-size-lg, 3vw, var.$font-size-xxl);
        font-weight: var.$font-weight-bold;
        line-height: var.$line-height-xl;
    }

    &--h2 {
        color: var.$color-primary-300;
        font-size: clamp(var.$font-size-md, 2.5vw, var.$font-size-xl);
        font-weight: var.$font-weight-bold;
        line-height: var.$line-height-xl;
    }

    &--h3 {
        color: var.$color-neutro-100;
        font-size: clamp(var.$font-size-sm, 2vw, var.$font-size-lg);
        font-weight: var.$font-weight-bold;
        line-height: var.$line-height-lg;
    }

    &--p {
        color: var.$color-neutro-100;
        font-size: clamp(var.$font-size-xs, 1.5vw, var.$font-size-md);
        font-weight: var.$font-weight-regular;
        line-height: var.$line-height-md;
    }

    &--span {
        color: var.$color-neutro-100;
        font-size: var.$font-size-xs;
        font-weight: var.$font-weight-light;
        line-height: var.$line-height-xs;
    }
}