@use "@/scss/variables" as var;

.institution-item {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-3xs;

    &__label {
        color: var.$color-neutro-100;
        font-size: var.$font-size-xs;
        font-weight: var.$font-weight-bold;
        padding: var.$spacing-xs 0;
    }

    &__value {
        color: var.$color-neutro-100;
        font-size: var.$font-size-xs;
        font-weight: var.$font-weight-regular;
    }
}