@use "@/scss/variables" as var;

.header {
    grid-area: header;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var.$spacing-xxs 0;

    &__title {
        color: var.$color-neutro-100;
        text-align: center;
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__shopping-cart {
        margin-left: auto;
    }

    @media (max-width: 500px) {
        flex-direction: column;
    }
}