@use "@/scss/variables" as var;

.footer {
    grid-area: footer;

    margin: var.$spacing-xl;
    padding: var.$spacing-md 5%;
    border-top: 1px solid rgba(245, 245, 245, 0.2);

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: var.$spacing-3xs;
    }

    &__copyright {
        color: var.$color-neutro-100;
        font-size: var.$font-size-xxs;
        font-weight: var.$font-weight-regular;
        text-align: center;
    }
}