@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.page-contact {
    .content {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: var.$spacing-xl;

        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: var.$spacing-xl;

        .query-form {
            display: flex;
            flex-direction: column;
            gap: var.$spacing-md;

            width: 60%;

            &__title {
                color: var.$color-primary-300;
                font-size: var.$font-size-xl;
            }
        }

        .contact-data {
            display: flex;
            flex-direction: column;
            gap: var.$spacing-md;

            width: 40%;

            &__content {
                display: flex;
                flex-direction: column;
                gap: var.$spacing-xs;

                padding: var.$spacing-md;
                border: 1px solid var.$color-primary-700;
                border-radius: var.$spacing-xxs;
                box-shadow: 0 0 2px rgba(245, 245, 245, 0.3);
            }

            &__item {
                font-size: var.$font-size-xxs;
                font-weight: var.$font-weight-bold;
                color: var.$color-primary-300;
            }

            &__title {
                color: var.$color-primary-300;
                font-size: var.$font-size-xl;
            }
        }
    }
}