@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.page-home {
    .highlighted-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var.$spacing-xl;

        padding: var.$spacing-xs 0;
    }
}