@use "@/scss/variables" as var;

.navbar-list-item {
    &__link {
        display: flex;
        align-items: center;
        gap: var.$spacing-3xl;
        padding: var.$spacing-xs;
    }

    &__icon {
        display: none !important;
        color: var.$color-primary-600;
    }

    &__label {
        color: var.$color-neutro-300;
        font-size: var.$font-size-sm;
        font-weight: inherit;

        &:hover,
        &--active {
            color: var.$color-neutro-900;
            font-size: var.$font-size-xs;
        }
    }


    &:hover,
    &--active {
        background-color: var.$color-neutro-100;
        padding: var.$spacing-4xs;
        border-radius: var.$spacing-3xs;

    }

    @media screen and (max-width: 768px) {
        &__icon {
            display: block !important;
        }
    }
}