@use "@/scss/variables" as var;

.product-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var.$spacing-md;
    width: 100%;

    &__no-results {
        color: var.$color-danger-500;
        padding: var.$spacing-xl;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}