@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

header {
    grid-area: header;

    padding: var.$spacing-3xl var.$spacing-xl;

    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
       color: var.$color-neutro-300; 
    }
}