@use "@/scss/variables" as var;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var.$spacing-lg;
    padding: 0 0 var.$spacing-sm 0;

    .slider {
        position: relative;
        z-index: 100;

        height: 89vh;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 0 2px rgba(245, 245, 245, 0.3);

        &__slides {
            display: flex;
            height: 100%;
            width: 300%;

            animation: move-slide 15s ease-in-out infinite;
        }

        &__slide {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                filter: brightness(50%);
            }
        }

        &__text {
            position: absolute;
            z-index: 200;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: var.$color-neutro-300;
            text-align: center;
            padding: var.$spacing-md;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);

            a {
                color: var.$color-neutro-100;
                font-weight: bold;

                &:hover {
                    color: var.$color-neutro-500;
                }
            }
        }

        @keyframes move-slide {
            0% {
                transform: translateX(0);
            }

            20% {
                transform: translateX(0);
            }

            25% {
                transform: translateX(calc((100% / 3) * -1));
            }

            45% {
                transform: translateX(calc((100% / 3) * -1));
            }

            50% {
                transform: translateX(calc((100% / 3) * -2));
            }

            70% {
                transform: translateX(calc((100% / 3) * -2));
            }

            75% {
                transform: translateX(calc((100% / 3) * -1));
            }

            95% {
                transform: translateX(calc((100% / 3) * -1));
            }

            100% {
                transform: translateX(0);
            }
        }

    }

    .highlighted-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var.$spacing-lg;

        &__title {
            padding: var.$spacing-sm 0;
        }

        .card {
            display: flex;
            flex-direction: column;
            gap: var.$spacing-md;
            border: 1px solid var.$color-neutro-900;
            border-radius: var.$spacing-3xs;
            box-shadow: 0 0 2px rgba(245, 245, 245, 0.3);

            &__image {
                width: 100%;
                border-radius: inherit;
                filter: brightness(50%);
            }

            &__title,
            &__description {
                text-align: center;
            }
        }

        .card--highlighted {
            border: none;
            padding: 0;
            width: 25vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card--highlighted--float {
            position: absolute;
            z-index: 200;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var.$spacing-xs;
            text-align: center;

            Text {
                text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
                color: var.$color-neutro-300;
            }

            .card__description{
                font-size: var.$font-size-sm;
            }
        }
    }
}