@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

nav {
    grid-area: navbar;

    .navbar {

        display: flex;
        justify-content: center;
        gap: var.$spacing-3xl;
        
        &__item {
            color: var.$color-neutro-300;
            font-size: var.$font-size-xs;
            
            &:hover {
                font-weight: var.$font-weight-bold;
                background-color: var.$color-neutro-300;
                color: var.$color-neutro-900;
                padding: var.$spacing-xs var.$spacing-3xs;
                border-radius: var.$spacing-3xs;
            }
        }
    }
}