@use "@/scss/variables" as var;

.product-item {
    overflow: hidden;

    &__image {
        object-fit: cover;
        height: auto;
        width: 100%;
        aspect-ratio: 16/9;

        &--skeleton {
            height: auto;
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 0 !important;
            margin-bottom: var.$spacing-sm;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var.$spacing-xs;
        padding: 0 var.$spacing-md;
    }

    &__name {
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-bold;
        color: var.$color-neutro-900;

        &--skeleton {
            height: 35px;
            width: 65%;
        }
    }

    &__description {
        font-size: var.$font-size-xxs;
        font-weight: var.$font-weight-regular;
        text-align: justify;
        color: var.$color-neutro-900;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;

        &--skeleton {
            height: 42px;
            width: 100%;
        }
    }

    &__price {
        font-size: var.$font-size-xxs;
        font-weight: var.$font-weight-bold;
        align-self: flex-end;
        color: var.$color-neutro-900;

        &--skeleton {
            height: 14px;
            width: 50px;
            align-self: flex-end;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: var.$spacing-md;
        padding: var.$spacing-md;

        &--skeleton {
            width: 50px;
            height: 24px;
            line-height: 1.2;
        }
    }

    &__control-stock {
        color: var.$color-danger-500;
    }

    &__add {
        svg {
            font-size: var.$font-size-sm !important;
        }
    }

    &__remove {
        svg {
            font-size: var.$font-size-sm !important;
        }
    }
}