@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.card {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
    border: 1px solid var.$color-neutro-900;
    border-radius: var.$spacing-3xs;
    box-shadow: 0 0 2px rgba(245, 245, 245, 0.3);

    &__image{
        border-radius: var.$spacing-3xs;
        filter: brightness(50%);

        position: relative;
        z-index: 100;

        &--gallery {
            filter: brightness(80%);
        }
    }

    &__title{
        font-size: var.$font-size-md;
        font-weight: var.$font-weight-bold;
        color: var.$color-neutro-300;

        &--highlighted {
            font-size: 1.5rem;
            color: var.$color-neutro-300;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
        }
    }

    &__title-container {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        padding: var.$spacing-xxs var.$spacing-md 0 var.$spacing-md;
    }

    &__code{
        font-size: var.$font-size-xxs;
        color: var.$color-neutro-700;
        text-align: right;
        padding: 0 var.$spacing-md;
    }

    &__description{
        font-size: var.$font-size-xs;
        color: var.$color-neutro-300;
        @include mix.text-ellipsis();
        text-align: justify;
        padding: 0 var.$spacing-md;

        &--highlighted {   
            color: var.$color-neutro-300;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
        }
    }

    &__price{
        font-size: var.$font-size-xs;
        font-weight: var.$font-weight-bold;
        color: var.$color-neutro-400;
    }

    &__counter {
        color: var.$color-primary-300;
    }

    &__actions{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        
        padding-bottom: var.$spacing-md;
    }

    &--highlighted {
        border: none;
        padding: 0;
        width: 28vw;
        
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        &--float {
            position: absolute;
            z-index: 200;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var.$spacing-xs;
        }
        
    }

}