@use "../abstracts/variables" as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background: linear-gradient(to top, #222222, #000000);
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100%;
}

ul {
    list-style: none;
}

a:link,
a:visited {
    color: var.$color-neutro-900;
    text-decoration: none;
}

img {
    height: fit-content;
    width: 100%;
}