@use "@/scss/variables" as var;

.about {
    max-width: 1280px;

    margin: 0 auto;
    padding: var.$spacing-3xl;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    gap: var.$spacing-xl;
}